body{
    background-color: black;
}

.inputs{
    background-color: red;
    display: flex;
    justify-content: center;
}

.range_cont > *{
    display: block;
    text-align: center;    
}

input{
    font-size: 30px;
}

#setGrid{
    padding: 2rem;
}

#counter{
    color: white;
    height: 1rem;
}

.grid{
    margin: auto;
}

td{
    border: 1px solid white;
    padding: 1rem;
}

td.alive{
    background-color: white;
}